<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->

<h1>Edit <%= player.full_name %></h1>
<% if(error) { %>
	<b><%= error %></b>
<% } %>
<form method="POST", action=<%= "/players/"+player._id+"/update" %> data-ajax="false">
	<div data-role="fieldcontain">
		<label for="first_name" class="col-sm-2 control-label">First Name:</label>
		<input type="text" name="first_name" value="<%= player.first_name %>"/> <br />
	</div>
	<div data-role="fieldcontain">
		<label for="last_name" class="col-sm-2 control-label">Last Name:</label>
		<input type="text" name="last_name" value="<%= player.last_name %>" /> <br />
	</div>
	<div data-role="fieldcontain">
		<label for="dob">Date of birth</label>
		<input type="date" name="date", value="<%= dobStr %>" />
	</div>
	<div data-role="fieldcontain">
		<button type="submit" class="btn btn-default">Update Player</button>
	</div>
</form>



<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>