<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->



<h1><%= player.full_name %></h1>
<br>
<div data-role="fieldcontain">
	<label><b>First Name:   </b></label><%= player.first_name %>
</div>
<div data-role="fieldcontain">
	<label><b>Last Name:   </b></label><%= player.last_name %>
</div>
<% if (dob){ %>
<div data-role="fieldcontain">
	<label><b>Date of Birth:	</b></label><%= dob %>
</div>
<% } %>
	<br>
	<table data-role= "table" class="ui-responsive table-stroke">
		<thead>
			<th>Guardian</th>
			<th>Email</th>
			<th>Phone #</th>
		</thead>
		<tbody>
		<% for (var i = 0; i < users.length; i++){ %>
			<tr>
				<td><%= users[i].first_name + ' ' + users[i].last_name %></td>
				<td><%= users[i].email %></td>
				<td><%= users[i].phone %></td>
			</tr>
		<% } %>
		</tbody>
	</table>
<br />

<% if (access == true){ %>
<a data-role="button" href=<%= '/players/' + player._id + "/edit" %> >Edit</a>
<a data-role="button" href=<%= '/players/' + player._id + '/addUser'%> > Add Another User</a>
<!-- Will add 'are you sure?' alert when we add the authorization check -->
<form method='POST' action=<%= '/players/' + player._id + '/delete'%> data-ajax="false">
	<button type="Submit">Delete</button>
</form>
<% } %>


<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>
