<html>

<head>
<% include ../head_scripts %>
<script type='text/javascript' src='/js/event_show.js'></script>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->

<h1>Request a ride for your team's <%= event.type %></h1>
<form action="/riders/<%=event._id%>/request/<%=carpool._id%>" method="POST" data-ajax="false">
  <b>Who needs a ride?</b> <br />
  <% players.forEach(function(player, index) { %>
    <div class="ui-block-a">
      <input type="checkbox" name="players[<%=index%>]" value="<%=player._id%>">
    </div>
    <div class="ui-block-b">
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= player.full_name %>
   </div>
  <% })%>
  <br />
  <br />
  <br />
  <b>Location</b> <br />
  <input type="text" name="location"> <br />
  <b>Time</b> <br />
  <input type="time" name="time">
  <input type="submit" value="request a ride" class="form-control wide-button">
</form>

<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>
