<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->


<h1>Team: <%= team.name %></h1>
<h2>Edit <%=date%> <%= event.type %></h2>
	<form class="form-horizontal" method="post" action="/events/<%=event._id%>/edit" role="form">
	<div class="form-group">
			<label for="type" class="col-sm-2 control-label">Event Type</label>
			<div class="col-sm-10">
				<select name="type" class="form-control" placeholder="event type" required>
				  <option></option>
				  <option value="Practice" <% if(event.type=="Practice"){ %> selected <% } %> >Practice</option>
				  <option value="Game" <% if(event.type=="Game"){ %> selected <% } %> >Game</option>
				  <option value="Meeting" <% if(event.type=="Meeting"){ %> selected <% } %> >Meeting</option>
				  <option value="Other Event" <% if(event.type=="Other Event"){ %> selected <% } %>  >Other Event</option>
				</select>
			</div>
	</div>
	<div class="form-group">
			<label for="location" class="col-sm-2 control-label">Location</label>
			<div class="col-sm-10">
				<input type="string" class="form-control" placeholder="123 Main St." name="location" value="<%=event.location%>">
			</div>
	</div>
	<div class="form-group">
			<label for="month" class="col-sm-2 control-label">Date</label>
			<div class="col-sm-4">
				<select name="month" class="form-control" required>
				<option value=<%= event.date.getMonth()%>><%= month%></option>
				<option value = "0">January</option>
				<option value = "1">February</option>
				<option value = "2">March</option>
				<option value = "3">April</option>
				<option value = "4">May</option>
				<option value = "5">June</option>
				<option value = "6">July</option>
				<option value = "7">August</option>
				<option value = "8">September</option>
				<option value = "9">October</option>
				<option value = "10">November</option>
				<option value = "11">December</option>
				</select>
			</div>
			<div class="col-sm-3">
				<input type="number" max="31" min="1" name="day" class="form-control" placeholder="day" value='<%=event.date.getDate()%>'required />
			</div>
			<div class="col-sm-3">
				<input type="number" max="<%= new Date().getFullYear()+3 %>" name="year" placeholder="year" value='<%=event.date.getFullYear()%>' class="form-control" required />
			</div>
	</div>
	<div class="form-group">
		<label for="time" class="col-sm-2 control-label">Time</label>
		<div class="col-sm-4">
			<input type="number" max="23" min="0" class="form-control" placeholder="hour" name="hour" value='<%=hour%>' required/>
		</div>
		<div class="col-sm-4">
			<input type="number" max="59" min="0" name="minute" placeholder="minute" class="form-control" value='<%=minutes%>' required>
		</div>
		<div class="col-sm-2">
			<select name="time" class="form-control" required>
				<option value="am">AM</option>
				<option <%if(time == "PM"){%> selected="selected" <%}%> value = "pm">PM</option>
			</select>
		</div>
	</div>
	<div class="form-group">
			<label for="details" class="col-sm-2 control-label">Details</label>
			<div class="col-sm-10">
				<textarea name="description" class="form-control" rows="3"><%=event.description%></textarea>
			</div>
	</div>
	<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10 text-center">
				<button type="submit" class="btn btn-default">Update Event</button>
			</div>
	</div>

</form>


<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>