<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->

<h1>Edit <%= event.type %> for team <%= team.name %></h1>

<form method="POST", action=<%= "/events/"+event._id+"/edit" %> >

	Team Name: <a href="/teams/<%=team._id%>"><%= team.name %></a>
	<br />
	<b>Date</b> <br />
	<% if(month) { %>
		Month: <select name="month" class="formlist">
		<option value=<%= event.date.getMonth()%>><%= month%></option>
		<option value = "0">January</option>
		<option value = "1">February</option>
		<option value = "2">March</option>
		<option value = "3">April</option>
		<option value = "4">May</option>
		<option value = "5">June</option>
		<option value = "6">July</option>
		<option value = "7">August</option>
		<option value = "8">September</option>
		<option value = "9">October</option>
		<option value = "10">November</option>
		<option value = "11">December</option> 
		</select>
		Day:<input type="number" max="31" min="1" name="day", value="<%= event.date.getDate() %>" />
		Year:<input type="number" max="<%= new Date().getFullYear()+3 %>" min="1950" name="year" value="<%= event.date.getFullYear() %>"> <br />
	<% } %>
	Time: <input type="number" max="23" min="0" name="hour" value="<%=hour%>"/>:<input type="number" max="59" min="0" name="minute" value="<%=event.date.getMinutes()%>">
	<select name="time" class="formlist">
	<option value="am">AM</option>
	<option   <%if(time == "PM"){%> selected="selected" <%}%>  value = "pm">PM</option>
	</select>
	<br />		
	Location: <input type='text' name='location' value='<%= event.location%>'/><br />
	Type: <input type='text' name='type' value='<%= event.type%>'/><br />
	<div class="form-group">
			<label for="details" class="col-sm-2 control-label">Details</label>
			<div class="col-sm-10">
				<textarea name='description' class="form-control" rows="3" ><%= event.description%></textarea>
			</div>
	</div>

	<input type="submit" value="Update" />
</form>


<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>