<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->
<h2 class="center-this">Events Coaching</h2>
<table class='team-index-table'>
	<thead>
		<th>Team</th>
		<th>Type</th>
		<th>Date</th>
		<th></th>
	</thead>
	<tbody>
		<% coachEvents.forEach(function(coachEvent) { %>
			<tr>
				<td><%=coachEvent.team.name%></td>
				<td><%=coachEvent.event.type%></td>
				<td><%=coachEvent.date + " " + coachEvent.time%></td>
				<td><a href="/events/<%=coachEvent.event._id%>" data-role="button">Show</a></td>
			</tr>
		<% }) %>
	</tbody>
</table>
<h2 class="center-this">Kids' Events</h2>
<table class='team-index-table'>
	<thead>
		<th>Team</th>
		<th>Type</th>
		<th>Date</th>
		<th></th>
	</thead>
	<tbody>
		<% playerEvents.forEach(function(playerEvent) { %>
			<tr>
				<td><%=playerEvent.team.name%></td>
				<td><%=playerEvent.event.type%></td>
				<td><%=playerEvent.date + " " + playerEvent.time%></td>
				<td><a href="/events/<%=playerEvent.event._id%>" data-role="button">Show</a></td>
			</tr>
		<% }) %>
	</tbody>
</table>
<a href='/events/new' data-role="button" data-theme="b">New Event</a>


<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>
