<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->


<div class="row">
		<% if(driving) { %>
		<h3>You are driving for this event</h3>
		<% } %>

		<div id="googleMap" style="width:75%; height:500px"></div>

		<table data-role="table" class="ui-responsive table-stroke">
		<thead>
			<tr>
				<th>Players</th>
				<th>RSVP</th>
			</tr>
		</thead>
		<tbody>
		<% players.forEach(function(p){ %>
			<tr>
				<td>
					<a class="list-group-item playah" id="<%=p._id%>" href="/players/<%=p._id%>"><%= p.first_name + " " + p.last_name %></a>
				</td>
				<% if(access && upcoming) {%>
				<td>
					<a href="/attendanceUpdate/<%= event._id %>/<%= p._id%>/t" data-role="button" data-inline="inline" data-mini="true" data-icon="check" data-iconpos="notext">Yes</a>
					<a href='/attendanceUpdate/<%= event._id %>/<%= p._id%>/f' data-role="button" data-inline="inline" data-mini="true" data-icon="delete" data-iconpos="notext">No</a>
					<span class="buttonPlacement" ></span>
				</td>
				<% } else if(loggedIn && upcoming) { %>
					<td class="guardianButtons"></td>
				<% } %>
			</tr>
		<% }); if(players.length == 0){ %> No players <%}%>
			<tr>
			<%if(access && upcoming){%>
					<form action="/emailAll/<%=event._id%>" method="POST" data-ajax="false">
						<button type="submit" value="Remind All">Remind All</button>
					</form>
			<%} %>
			</tr>
		<tbody>
			
		

		</table>
</div>

<div class="row">
	<div class="col-md-8">
		<h1> <%= event.type %></h1>

				<b>Date: </b><%= date %><br />

				<div id="location"><b>Location: </b><%= event.location %><br /></div>
				<b>Time: </b> <%= time %><br />
				<b>For Team: </b><a href="/teams/<%=team._id%>"><%= team.name%></a><br>
				<b>Details: </b><%= event.description%>

		<% if(access){ %>
		<br>
		<a type="button" data-role="button" class="btn btn-default" href="/events/<%=event._id%>/edit">Edit Event Info</a>
		<form method='POST' action=<%= '/events/' + event._id + '/delete'%> data-ajax="false">
			<button type="Submit">Delete</button>
		</form>

		<% } %>

	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-8">
		<h3> Carpooling <%if(user){%> <a type="button" data-role="button" class="btn btn-default" href="/events/<%=event._id%>/carpools/new">Offer a Carpool</a><a type="button" class="btn btn-info" data-role="button" href="/events/<%=event._id%>/rideRequest">Request Ride</a> <%}%></h3>

		<% if(carpools.length>0){ %>
			<table data-role="table" class="ui-responsive table-stroke">
				<thead>
					<th>Driver</th>
					<th>Spots</th>
					<th>Riders</th>
					<th></th>
				</thead>
				<tbody>
				<% carpools.forEach(function(c){ %>
					<tr>
						<td class="driver" id="<%=c.user_id%>">
						</td>
						<td>
							<%= c.size %>
						</td>
						<td class="driver-riders" id="<%=c._id%>">
						</td>
						<td>
							<a href="/carpools/<%=c._id%>">View Carpool</a>
						</td>
					</tr>
				<% }) %>
				</tbody>

			</table>

		<% }else{ %>

			No drivers

		<% } %>

		<h3>Needing Rides</h3>
		<% if(playersNeedingRides.length > 0) {%>
			<table data-role="table" class="ui-responsive table-stroke">
				<thead>
					<th>Name</th>
					<th></th>
				</thead>
				<tbody>
			<% playersNeedingRides.forEach(function(player) { %>
				<tr>
					<td><%= player.full_name %></td>
					<%if(driving) {%>
						<td><a href="/events/<%=event._id%>/pickupPlayer/<%=player._id%>">Offer ride</a></td>
					<%}%>
				</tr>
			<% }) %>
				</tbody>
			</table>
		<% } else { %>
			<b>No players need a ride</b>
		<% } %>

	</div>

</div>

<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>
