<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->


<h1> <%= event.type %> for team <%= team.name %></h1>
<b>Date</b> <br />
<%= event.date.getMonth() %>/<%= event.date.getDate() %>/<%= event.date.getFullYear() %><br />
<b>Time</b> <br />
<%= hour %>:<%= event.date.getMinutes() %><%=time%><br />
<b>Location</b> <br />
<%= event.location %><br />

<form method='GET' action="<%= '/events/' + event._id + '/edit'%>" >
	<input type="Submit" value="Edit"/>
</form>

<form method='POST' action=<%= '/events/' + event._id + '/delete'%> >
	<input type="Submit" value="Delete" />
</form>

<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>