<html>

<head>
<% include ../head_scripts %>
<script type='text/javascript' src='/js/event_show.js'></script>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->


<div class="row">
	<div class="col-md-8">
		<h1> <%= event.type %> for team <%= team.name %>  <small><%= event.date.getMonth() + 1 %>/<%= event.date.getDate() %>/<%= event.date.getFullYear() %></small></h1>
		<div id="googleMap"></div>
	</div>
	<div class="col-md-4">
		<table class="table">
		<thead>
			<th class="text-left">Players</th>
			<th class="text-right">RSVP</th>
		</thead>

		<tr>
			<td colspan="2">
				<div class="list-group">
				<% players.forEach(function(p){ %>
					<tr>
						<td><a class="list-group-item playah" id="<%=p._id%>" href="/players/<%=p._id%>"><%= p.first_name + " " + p.last_name %>

						</a></td>
						<% if(access && upcoming) {%>
						<td><a href="/attendanceUpdate/<%= event._id %>/<%= p._id%>/t" class="btn btn-tiny btn-success glyphicon glyphicon-ok"></a><a href='/attendanceUpdate/<%= event._id %>/<%= p._id%>/f' class='btn btn-danger btn-tiny glyphicon glyphicon-remove'></a><span class="buttonPlacement"></span></td>
						<% } else if(loggedIn && upcoming) { %>
							<td class="guardianButtons"></td>
						<% } %>
					</tr>
				<% }); if(players.length == 0){ %> No players <%}%>
				</div>
			</td>
		</tr>
		<%if(access && upcoming){%>
		<tr>
			<th colspan="2">
				<form action="/emailAll/<%=event._id%>" method="POST">
					<input type="submit" value="Remind All" class="btn btn-success">
				</form>
			</th>
		</tr>
		<%} %>

		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<h1> <%= event.type %></h1>
				<b>Date: </b><%=event.date.getMonth() + 1 %>/<%= event.date.getDate() %>/<%= event.date.getFullYear() %><br />
				<div id="location"><b>Location: </b><%= event.location %><br /></div>
				<b>Time: </b> <%= hour %>:<%= minutes %><%=time%><br />
				<b>For Team: </b><a href="/teams/<%=team._id%>"><%= team.name%></a><br>
				<b>Details: </b><%= event.description%>

		<% if(access){ %>
		<br>
		<a type="button" class="btn btn-default" href="/events/<%=event._id%>/edit">Edit Event Info</a>
		<form method='POST' action=<%= '/events/' + event._id + '/delete'%> >
			<input type="Submit" value="Delete" />
		</form>

		<% } %>

	</div>
</div>

<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>
