<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->


<h1 class="center-this"><%= event.type %> for <%= team.name %>  <small> <%= date %></small></h1>
<div data-role="tabs" id="tabs">
  <div data-role="navbar">
    <ul>
      <li><a href="#event" data-ajax="false">Event</a></li>
      <li><a href="#attendance" data-ajax="false">Attendance</a></li>
      <li><a href="#carpools" data-ajax="false">Carpooling</a></li>
    </ul>
  </div>


  <div id="event" class="team-tab">
  	<div id="googleMap" style="width:100%; height:500px"></div>
  	<br>
    <h2><%= event.type %></h2>
    	<% if(driving) { %>
		<h3>You are driving for this event</h3>
		<% } %>

    	<div data-role="fieldcontain">
			<label><b>Date:   </b></label><%= date %>
		</div>
		<div data-role="fieldcontain">
			<label><b>Location:   </b></label><%= event.location %>
		</div>
		<div data-role="fieldcontain">
			<label><b>Time:   </b></label><%= time %>
		</div>
		<div data-role="fieldcontain">
			<label><b>For Team:   </b></label><a href="/teams/<%=team._id%>"><%= team.name%></a>
		</div>
		<div data-role="fieldcontain">
			<label><b>Details:   </b></label><%= event.description%>
		</div>


		<% if(access){ %>
		<br>
		<div data-role="fieldcontain">
			<a data-inline="true" data-role="button" href="/events/<%=event._id%>/edit">Edit Event Info</a>
		</div>
		<div data-role="fieldcontain">
			<form method='POST' action=<%= '/events/' + event._id + '/delete'%> data-ajax="false">
				<button data-inline="true" type="Submit">Delete</button>
			</form>
		</div>

		<% } %>
  </div>



  <div id="attendance" class="team-tab">
  	<br><br>
  	<table data-role="table" class="ui-responsive table-stroke">
		<thead>
			<tr>
				<th>Players</th>
				<th>RSVP</th>
			</tr>
		</thead>
		<tbody>
		<% players.forEach(function(p){ %>
			<tr>
				<td>
					<a class="list-group-item playah" id="<%=p._id%>" href="/players/<%=p._id%>"><%= p.first_name + " " + p.last_name %></a>
				</td>
				<td id="<%=p._id%>-response">
				</td>
				<% if(access && upcoming) {%>
				<td>
					<a href="/attendanceUpdate/<%= event._id %>/<%= p._id%>/t" data-role="button" data-inline="inline" data-mini="true" data-icon="check" data-iconpos="notext">Yes</a>
					<a href='/attendanceUpdate/<%= event._id %>/<%= p._id%>/f' data-role="button" data-inline="inline" data-mini="true" data-icon="delete" data-iconpos="notext">No</a>
					<span class="buttonPlacement" ></span>
				</td>
				<% } else if(loggedIn && upcoming) { %>
					<td class="guardianButtons"></td>
				<% } %>
			</tr>
		<% }); if(players.length == 0){ %> No players <%}%>
		<tbody>
		</table>
		<%if(access && upcoming){%>
			<form action="/emailAll/<%=event._id%>" method="POST" data-ajax="false">
				<button type="submit" value="Remind All" data-inline="true" data-theme="b">Remind All</button>
			</form>
		<%} %>
  </div>


  <div id="carpools" class="team-tab">
  	<br><br>
		<h3> Carpooling </h3>
		<%if(user){%>
		<div data-role="fieldcontain">
			<a type="button" data-role="button" data-inline="true" href="/events/<%=event._id%>/carpools/new">Offer a Carpool</a>
			<a type="button" data-inline="true" data-role="button" href="/events/<%=event._id%>/rideRequest">Request Ride</a>
		</div>
 		<%}%>

		<% if(carpools.length>0){ %>
			<table data-role="table" class="ui-responsive table-stroke">
				<thead>
					<th>Driver</th>
					<th>Spots</th>
					<th>Riders</th>
					<th></th>
				</thead>
				<tbody>
				<% carpools.forEach(function(c){ %>
					<tr>
						<td class="driver" id="<%=c.user_id%>">
						</td>
						<td>
							<%= c.size %>
						</td>
						<td class="driver-riders" id="<%=c._id%>">
						</td>
						<td>
							<a href="/carpools/<%=c._id%>">View Carpool</a>
						</td>
					</tr>
				<% }) %>
				</tbody>

			</table>

		<% }else{ %>

			No drivers

		<% } %>

		<h3>Needing Rides</h3>
		<% if(playersNeedingRides.length > 0) {%>
			<table data-role="table" class="ui-responsive table-stroke">
				<thead>
					<th>Name</th>
					<th></th>
				</thead>
				<tbody>
			<% playersNeedingRides.forEach(function(player) { %>
				<tr>
					<td><%= player.full_name %></td>
					<%if(driving) {%>
						<td><a href="/events/<%=event._id%>/pickupPlayer/<%=player._id%>">Offer ride</a></td>
					<%}%>
				</tr>
			<% }) %>
				</tbody>
			</table>
		<% } else { %>
			<b>No players need a ride</b>
		<% } %>

	</div>




<div id="off_screen">
    <div class="googleMapContainer" id="map-canvas" style="width:100%; height:500px"></div>
</div>





    
  </div>



<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>
