<h1>The Template</h1>
<b>Subject</b> <br />
<%= template.subject %> <br />
<b>Recipients</b> <br />
<%= template.recipients %> <br />
<b>Body</b> <br />
<%= template.body %> <br />

<form method="POST" action="/teams/<%= template.team_id %>/templates/<%= template._id %>/delete">
	<input type="submit" value="Delete" />
</form>