<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->

<h1>Edit <%= team.name %></h1>

    <form id="team_form" method="post" action="/teams/<%= team._id %>/edit" data-ajax="false" role="form">

        <div data-role="fieldcontain">
            <label for="name">Team Name:</label>
            <input type="text" name="name" id="name" value='<%= team.name %>' Purple Cobras/>
        </div>

        <div data-role="fieldcontain">
            <label for="inputSport">Sport</label>
            <input type="text" class="form-control" id="inputSport" value='<%= team.sport %>' placeholder="Dodgeball" name="sport">
        </div>
        <div data-role="fieldcontain">
            <label>Current Managers</label>
              <div class="help-block">
               <% coaches.forEach(function(c){%>

                    <a href="/users/<%=c._id%>"><%= c.first_name%> <%= c.last_name%></a>
                    <%= c.email%>
                    <button id="<%=c._id%>" class="remove-man" data-inline="true">Remove Manager</button>
                    <br>
               <% }) %>
             </div>
        </div>


        <div data-role="fieldcontain">
            <label for="coaches">Managers:</label>
              <input type="text" class="form-control" id="coaches" placeholder="manager emails (separated by commas)" name="coaches">
                <p class="help-block">To add managers, giving them access to create events, set the roster, and edit the team information, enter their emails, separated by commas.</p>
        </div>

        <div data-role="fieldcontain" class="center-this">
              <button id="submit" type="submit" data-theme="a" data-inline="true">Update Team Info</button>
        </div>

    </form>




<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>