<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->

<h2 class='center-this'>Teams Coaching</h2>
<table data-role="table" class="ui-responsive table-stroke">
	<thead>
		<th>Name</th>
		<th>Sport</th>
		<th></th>
	</thead>
	<tbody>
		<% coachedTeams.forEach(function(team) { %>
			<tr>
				<td><%= team.name %></td>
				<td><%= team.sport %></td>
				<td><a href="/teams/<%= team._id %>" data-role="button">Details</a></td>
			</tr>
		<% })%>
	</tbody>
</table>

<hr />

<h2 class='center-this'>Kids' Teams</h2>
<table data-role="table" class="ui-responsive table-stroke">
	<thead>
		<th>Name</th>
		<th>Sport</th>
		<th></th>
	</thead>
	<tbody>
		<% playerTeams.forEach(function(team) { %>
				<tr>
					<td><%= team.name %></td>
					<td><%= team.sport %></td>
					<td><a href="/teams/<%= team._id %>" data-role="button">Details</a></td>
				</tr>
		<% }) %>
	</tbody>
</table>
<hr />

<a href='/teams/new' data-role="button" data-theme="b">New Team</a>


<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>
