<html>

<head>
<% include ../head_scripts %>

</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->
<div data-role="tabs" id="tabs">
  <div data-role="navbar">
    <ul>
      <li><a href="#team" data-ajax="false">Team Info</a></li>
      <li><a href="#events" data-ajax="false">Events</a></li>
      <li><a href="#roster" data-ajax="false">Roster</a></li>
      <li><a href="#drivers" data-ajax="false">Drivers</a></li>
    </ul>
  </div>


  <div id="team" class="team-tab">
    <h1>Team <%= team.name %></h1>
    <br>
    	<div data-role="fieldcontain">
			<label><b>Name:   </b></label><%= team.name %>
		</div>
		<div data-role="fieldcontain">
			<label><b>Sport:   </b></label><%= team.sport %>
		</div>
		<div data-role="fieldcontain">
			<label><b>Managed By:   </b></label><p><% coaches.forEach(function(c, index, arr){ %>

					<% if(index == arr.length-1){ %>
						<a href="/users/<%=c._id%>"><%= c.first_name + " " + c.last_name %></a>
					<% }else{ %>
						<a href="/users/<%=c._id%>"><%= c.first_name + " " + c.last_name %></a> , 
					<% } %>
				<% }); %>
			</p>
		</div>

		<% if(access){ %>
		<br>
		<div data-role="fieldcontain">
			<a href="/teams/<%=team._id%>/edit" data-role="button" data-inline="true" data-theme="b">Edit Team Info</a>
		</div>

		<% } %>
  </div>



  <div id="events" class="team-tab calendar-tab">
  	<br><br>
    <div id="calendar" style="width: 100%"></div>

    <% if(access){ %>
		<br>
		<a data-role="button" data-inline="true" data-theme="b" href="/teams/<%=team._id%>/event">Create Event</a>
	<% } %>
  </div>


  <div id="roster" class="team-tab">
  	<br><br>
  	<table data-role="table" id="my-table" data-mode="columntoggle" class="ui-responsive table-stroke">
	  <thead>
	    <tr>
			<th>Players</th>
			<th>Next event</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<tr>
			<td></td>
			<td id="event-name"></td>
		</tr>
				<% players.forEach(function(p){ %>
					<tr>
						<td><a href="/players/<%=p._id%>"><%= p.first_name + " " + p.last_name %></a></td>
					  	<!-- use this and ajax to say if they are going to the next game or not-->
					    <td><div id="<%=p._id%>" class="ajax-attendance">No response</div></td>
					</tr>
				<% }); if(players.length == 0){ %> No players <%}%>
	    </tbody>
	</table>
	<br><br>
	<%if(access){%>
		<div>
			<a href="/teams/<%=team._id%>/roster" data-role="button" data-inline="true" data-theme="b">Edit Roster</a>
		</div>
	<%}%>
	<br><br>
    
  </div>



  <div id="drivers" class="driver-tab center-this">
  	<h3> Driver Leaderboard</h3>

		<table data-role="table" id="driver-table" data-mode="columntoggle" class="driver-table">
			<thead>
				<tr>
					<th data-priority="1">Name</th>
					<th data-priority="4">Email</th>
					<th data-priority="2">Carpools</th>
					<th data-priority="3">Rides Given</th>
				</tr>
			</thead>
			<tbody>
				<% drivers.forEach(function(driver){ %>
					<tr>
						<td><a href="/users/<%=driver._id%>"><%= driver.first_name + " " + driver.last_name%></a></td>
						<td><%= driver.email%></td>
						<td><%= driver.carpools%></td>
						<td><%= driver.riders%></td>
					</tr>
				<% }); %>
			</tbody>
		</table>
  </div>


</div>

<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>
