<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->

<div class="row">
	<div class="col-md-8">
		Event calendar go here!!!!
		For now I'll just load the events
		<h3>EVENTS</h3>
		<% events.forEach(function(e){ %>
				<a href="/events/<%=e._id%>"><%= e.type + " " + e.date %></a>
		<% }); if(events.length ==0){ %>
			No events yet
			<% } %>


	</div>
	<div class="col-md-4">
		<table class="table">
		<tr>
			<th class="text-center">Players</th>
		</tr>

		<tr>
			<td>
				<div class="list-group">
		<% players.forEach(function(p){ %>
				<a class="list-group-item" href="/players/<%=p._id%>"><%= p.first_name + " " + p.last_name %>
			  	<!-- use this and ajax to say if they are going to the next game or not-->
			    <span class="pull-right glyphicon glyphicon-ok"></span><span class="pull-right glyphicon glyphicon-minus"></span><span class="pull-right glyphicon glyphicon-remove"></span>
			    </a>
		<% }); %>
				</div>
			</td>
		</tr>

		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<h1>Team <%= team.name %></h1>
				<b>Name: </b><%= team.name %><br />
				<b>Sport: </b><%= team.sport %><br />
				<b>Managed by: </b><% coaches.forEach(function(c){ %> <a href="/users/<%=c._id%>"><%= c.first_name + " " + c.last_name %></a><% }); %>

		<form method='GET' action="<%= '/teams/' + team._id + '/edit'%>" >
			<input type="Submit" value="Edit Team"/>
		</form>

		<a href="/teams/<%= team._id %>/templates">Email Templates</a>
	</div>
</div>

<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>


<!--ul class="list-group">
  <li class="list-group-item">
    <span class="badge">14</span>
    Cras justo odio
  </li>
</ul>

		<table class="table">
		<tr>
			<th class="text-center">Players</th>
		</tr>
		<% players.forEach(function(p){ %>
		<tr>
			<td>
				<a href="/players/<%=p._id%>"><%= p.first_name + " " + p.last_name %></a>
			</td>
		</tr>

		<% }); %>

		</table>







-->