<html>

<head>
<% include ../head_scripts %>
<link rel='stylesheet' type='text/css' href='/fullcalendar/fullcalendar.css' />
<script type='text/javascript' src='/fullcalendar/fullcalendar.js'></script>
<script>$(document).ready(function() {$('#calendar').fullCalendar({
    	header:{left:   'title', center: 'month basicWeek', right:  'today prev,next'},
    	weekMode: 'liquid',
    	events: <%-JSON.stringify(events)%>,
    	eventTextColor: "#000000",
        contentHeight:200});});
</script>
<script type='text/javascript' src='/js/team_show.js'></script>

</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->


<div data-role="tabs" id="tabs">
  <div data-role="navbar">
    <ul>
      <li><a href="#team" data-ajax="false">Team Info</a></li>
      <li><a href="#events" data-ajax="false">Calendar</a></li>
      <li><a href="#roster" data-ajax="false">Roster</a></li>
      <li><a href="#drivers" data-ajax="false">Drivers</a></li>
    </ul>
  </div>


  <div id="team" class="team-tab">
    <h1>Team <%= team.name %></h1>
				<b>Name: </b><%= team.name %><br />
				<b>Sport: </b><%= team.sport %><br />
				<b>Managed by: </b><% coaches.forEach(function(c, index, arr){ %>

					<% if(index == arr.length-1){ %>
						<a href="/users/<%=c._id%>"><%= c.first_name + " " + c.last_name %></a>
					<% }else{ %>
						<a href="/users/<%=c._id%>"><%= c.first_name + " " + c.last_name %></a> , 
					<% } %>
				<% }); %>

		<% if(access){ %>
		<br>
		<a href="/teams/<%=team._id%>/edit" data-role="button" data-inline="true" data-theme="b">Edit Team Info</a>

		<a href="/teams/<%= team._id %>/templates" data-role="button" data-inline="true" data-theme="b">Email Templates</a>

		<% } %>
  </div>



  <div id="events">
  	<div>
    <div id="calendar"></div>

    <% if(access){ %>
		<br>
		<a type="button" class="pull-right btn btn-primary" href="/teams/<%=team._id%>/event">Create Event</a>
	<% } %>
	</div>
  </div>


  <div id="roster" class="team-tab">
  	<br><br>
  	<table data-role="table" id="my-table" data-mode="reflow" class="ui-responsive table-stroke">
	  <thead>
	    <tr>
			<th>Players</th>
			<th>Next event</th>
	    </tr>
	    <tr>
			<th></th>
			<th id="event-name"></th>
		</tr>
	  </thead>
	  <tbody>
				<% players.forEach(function(p){ %>
					<tr>
						<td><a href="/players/<%=p._id%>"><%= p.first_name + " " + p.last_name %></a></td>
					  	<!-- use this and ajax to say if they are going to the next game or not-->
					    <td><div id="<%=p._id%>">No response</div></td>
					</tr>
				<% }); if(players.length == 0){ %> No players <%}%>
	    </tbody>
	</table>
	<br><br>
	<%if(access){%>
		<div class="center-this">
			<a href="/teams/<%=team._id%>/roster" data-role="button" data-inline="true" data-theme="b">Edit Roster</a>
		</div>
	<%}%>
	<br><br>
    
  </div>



  <div id="drivers" class="team-tab">
  	<h3> Driver Leaderboard</h3>

		<table data-role="table" id="my-table" data-mode="reflow" class="ui-responsive table-stroke">
			<thead>
				<tr>
					<th>Name</th> <th>Email</th> <th>Phone</th> <th>Carpools</th> <th>Rides Given</th>
				</tr>
			</thead>
			<tbody>
				<% drivers.forEach(function(driver){ %>
					<tr>
						<td><a href="/users/<%=driver._id%>"><%= driver.first_name + " " + driver.last_name%></a></td>
						<td><%= driver.email%></td>
						<td><%= driver.phone%></td>
						<td><%= driver.carpools%></td>
						<td><%= driver.riders%></td>
					</tr>
				<% }); %>
			</tbody>
		</table>
  </div>


</div>

<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>
