<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->
MY ACCOUNT

<div>
<%= user.email %>
</div>

<div>
<%= user.first_name %>
</div>

<div>
<%= user.last_name %>
</div>

<div>
<%= user.phone %>
</div>

<div>
<%= user.password %>
</div>

<div>
<%= user._id %>
</div>

<a href="/users/<%=user._id%>/edit">Edit</a>
<form action="/users/<%=user._id%>/delete" method="post">
	<input type="submit" value="Delete"/>
</form>









<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>