<html>

<head>
<% include ../head_scripts %>
<script type='text/javascript' src='/js/account.js'></script>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->
MY ACCOUNT

<div>
<%= user.email %>
</div>

<div>
<%= user.first_name %>
</div>

<div>
<%= user.last_name %>
</div>

<div>
<%= user.phone %>
</div>

<a type="button" class="btn btn-default"href="/users/<%=user._id%>/edit">Edit</a>
<a type="button" class="btn btn-default" href="/users/<%=user._id%>/password-change">Change Password</a>
<form action="/users/<%=user._id%>/delete" method="post">
	<input type="submit" value="Delete"/>
</form>



<table class="table">
<tr>
	<th>Player</th><th>Teams</th><th></th><th></th>
</tr>


<% players.forEach(function(p){ %>
<tr>
	<td>
		<a href="/players/<%=p._id%>"><%= p.first_name + " " + p.last_name %></a>
	</td>
	<td class="teams">
		<div id="<%=p._id%>">
			none
		</div>
	</td>
	<td>
		<a href="/players/<%=p._id%>/edit">edit</a>
	</td>
	<td>
		<form method='POST' action='/players/<%= p._id%>/delete'%><input type="Submit" value="Delete" /></form>
	</td>	

<% }); %>

</table>

<table class="table">
<tr>
	<th>Managing Team</th><th>Sport</th>
</tr>


<% teams.forEach(function(t){ %>
<tr>
	<td>
		<a href="/teams/<%=t._id%>"><%= t.name%></a>
	</td>
	<td>
		<%= t.sport%>
	</td>
</tr>

<% }); %>

</table>



<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>