<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->

<% if (message) { %>
<p><%= message %></p>
<% } %>

    <form class="med-form center-this" id="user_form" action="/users/<%= user._id%>/edit" method="post" data-ajax="false" role="form">
        <h1>Edit User Information</h1>

        <div data-role="fieldcontain">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
              <input type="email" class="form-control" id="inputEmail" value="<%=user.email%>" name="email">
        </div>
        <hr>

        <div data-role="fieldcontain">
            <label for="inputFirstName" class="col-sm-2 control-label">First Name</label>
              <input type="text" class="form-control" id="inputFirstName" value="<%=user.first_name%>" name="first_name">
        </div>
        <div data-role="fieldcontain">
            <label for="inputLastName" class="col-sm-2 control-label">Last Name</label>
              <input type="text" class="form-control" id="inputLastName" value="<%=user.last_name%>" name="last_name">
        </div>
        <div data-role="fieldcontain">
            <label for="inputPhone" class="col-sm-2 control-label">Phone Number</label>
              <input type="text" class="form-control" id="inputPhone" value="<%=user.phone%>" name="phone">
        </div>


        <div data-role="fieldcontain">
              <button type="submit" data-inline="true">Update Account Information</button>
        </div>

    </form>






<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>