<html>

<head>
<% include ../head_scripts %>
<script type='text/javascript' src='/js/account.js'></script>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->

<div role="main" class="ui-content jqm-content body-content">
	<h2><%= user_show.first_name + " " + user_show.last_name%> </h2>

	<div data-role="fieldcontain">
		<label><b>Email:   </b><%= user_show.email %></label>
	</div>

	<div data-role="fieldcontain">
		<label><b>First name:  </b><%= user_show.first_name %></label>
	</div>

	<div data-role="fieldcontain">
		<label><b>Last name:   </b><%= user_show.last_name %></label>
	</div>

	<div data-role="fieldcontain">
		<label><b>Phone number:   </b><%= user_show.phone %></label>
	</div>
	<br>
	<hr>

<h4>Players</h4>
	<table data-role="table" id="roster-table" data-mode="reflow" class="ui-responsive table-stroke">
		<thead>
			<tr>
				<th>Player</th><th>Teams</th><th></th><th></th>
			</tr>
		</thead>

		<tbody>
			<% players.forEach(function(p){ %>
				<tr>
					<td>
						<a href="/players/<%=p._id%>"><%= p.first_name + " " + p.last_name %></a>
					</td>
					<td class="teams">
						<div id="<%=p._id%>">
							none
						</div>
					</td>
					<td>
					</td>
					<td>
					</td>	

			<% }); if(players.length==0) {%> 
				<tr><td>No players</td></tr> 
			<% } %>
		</tbody>
	</table>

</div>




<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>