<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->

THIS USER

<div>
<%= user_show.email %>
</div>

<div>
<%= user_show.first_name %>
</div>

<div>
<%= user_show.last_name %>
</div>

<div>
<%= user_show.phone %>
</div>

<div>
<%= user_show._id %>
<div>

<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>