<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->
<h1>Add to your Carpool</h1>

<% if(warning) {%>
  <b><%= warning %></b>
<% } %>
<form action='/riders/createForCarpool/<%=carpool._id%>' method='POST' data-ajax="false">
  <b>Players:</b> <br />
  <% players.forEach(function(player, index) { %>
    <input type="checkbox" value="<%= player._id%>" name="riders[<%=index%>]"><%= player.full_name %>
    <b>Where will you pick them up?</b><input type="text" name="locations[<%=index%>]">
    <b>Time</b><input type="number" name="hours[<%=index%>]">:<input type="number" name="minutes[<%=index%>]">
    <select name="ampms[<%=index%>]">
      <option></option>
      <option value="am">AM</option>
      <option value="pm">PM</option>
    </select><br />
  <% })%>

  <input type="submit" value="Add Riders">

</form>
<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>
