<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->
<h1>Add to your Carpool</h1>

<% if(warning) {%>
  <b><%= warning %></b>
<% } %>
<form action='/riders/createForCarpool/<%=carpool._id%>' method='POST' data-ajax="false">
  <% players.forEach(function(player, index) { %>
    <div class="ui-block-a">
      <input type="checkbox" class="form-control" value="<%= player._id%>" name="riders[<%=index%>]">
    </div>
    <div class="ui-block-b">
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= player.full_name %>
      <br />
      <br />
    </div>
    <br />
    <b>Location</b><input type="text" name="locations[<%=index%>]" class="form-control">
    <b>Time</b><br />
    <input type="time" name="times[<%=index%>]" class="form-control">
  <% })%>

  <input type="submit" value="Add Riders" data-role="button" class="form-control wide-button">

</form>
<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>
