<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->
<h1><%= team.name %></h1>
<h2>Carpool Offer for <%= event.type %> on <%= date %></h2>
	<form class="form-horizontal" method="post" action="/carpools/new" role="form" data-ajax="false">

		<input type='hidden' name='event_id' value='<%=event._id%>'>
		<input type='hidden' name='user_id' value='<%=user._id%>'>

	<div data-role="fieldcontain">
		<label for="size" class="col-sm-2 control-label">Number you can drive</label>
		<input type="number" class="form-control" placeholder="1" name="size">
	</div>

	<div data-role="fieldcontain">
		<label for="location" class="col-sm-2 control-label">Your Location</label>
		<input type="text" class="form-control" placeholder="123 Main St." name="location"/>
	</div>

	<div data-role="fieldcontain">
		<label for="time" class="col-sm-2 control-label">Time</label>
		<input type="time" class="form-control" name="time" required/>
	</div>

	<div data-role="fieldcontain">
		<label for="notes" class="col-sm-2 control-label">Notes</label>
		<textarea name='notes' class="form-control" rows="3"></textarea>
	</div>


	<div data-role="fieldcontain">
		<button type="submit" class="btn btn-default">Create Carpool</button>
	</div>

</form>


<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>