<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->
<h1><%= team.name %></h1>
<h2>Carpool Offer for <%= event.type %> on <%= date %></h2>
	<form class="form-horizontal" method="post" action="/carpools/new" role="form">

		<input type='hidden' name='event_id' value='<%=event._id%>'>
		<input type='hidden' name='user_id' value='<%=user._id%>'>

	<div class="form-group">
		<label for="size" class="col-sm-2 control-label">Number you can drive</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" placeholder="1" name="size">
		</div>
	</div>

	<div class="form-group">
			<label for="location" class="col-sm-2 control-label">Your Location</label>
			<div class="col-sm-10">
				<input type="string" class="form-control" placeholder="123 Main St." name="location">
			</div>
	</div>

	<div class="form-group">
		<label for="time" class="col-sm-2 control-label">Time</label>
		<div class="col-sm-4">
			<input type="number" max="23" min="0" class="form-control" placeholder="hour" name="hour" required/>
		</div>
		<div class="col-sm-4">
			<input type="number" max="59" min="0" name="minute" placeholder="minute" class="form-control" required>
		</div>
		<div class="col-sm-2">
			<select name="time" class="form-control" required>
				<option value="am">AM</option>
				<option value = "pm">PM</option>
			</select>
		</div>
	</div>

	<div class="form-group">
			<label for="details" class="col-sm-2 control-label">Notes</label>
			<div class="col-sm-10">
				<textarea name='notes' class="form-control" rows="3"></textarea>
			</div>
	</div>


	<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10 text-center">
				<button type="submit" class="btn btn-default">Create Carpool</button>
			</div>
	</div>

</form>


<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>