<html>

<head>
<% include ../head_scripts %>
</head>

<body>
<% include ../head %>
<!--************************CONTENT**************************-->
<div class="body-content">

		<h2> Team: <%= team.name %></h2>
		<h4> Carpool for <%= event.type %> on <%= date %></h4>

				<b>Team: </b><a href='/teams/<%= team._id %>'><%= team.name %></a><br>
				<b>Event: </b><a href='/events/<%= event._id %>'><%= event.type+' on '+ date%></a><br>
				<b>Driver: </b><a href='/users/<%= driver._id %>'><%= driver.first_name+' '+driver.last_name %></a><br>
				<div id="location"><b>Location: </b><%= carpool.location %><br /></div>
				<b>Time: </b> <%= time %><br />
				<b>Capacity: </b> <%= carpool.size %><br />
				<b>Spaces left:</b> <%= spotsLeft %> <br />
				<b>Notes: </b><%= carpool.notes%>

		<% if(access){ %>
		<br>
		<a type="button" data-role="button" class="btn btn-default" href="/carpools/<%=carpool._id%>/edit">Edit Carpool Info</a>

			<% if(spotsLeft > 0) {%>
				<a type="button" data-role="button" class="btn btn-info" href="/carpools/<%= carpool._id%>/addRider">Add Rider</a>
			<% } %>

		<form method='POST' action=<%= '/carpools/' + carpool._id + '/delete'%> data-ajax="false">
			<input data-role="button" class="form-danger wide-button" data-theme="a" type="Submit" value="Delete" />
		</form>

		<% } %>

		<% if(user && !access && spotsLeft > 0) { %>
			<br /><a href="/riders/<%=event._id%>/request/<%=carpool._id%>" data-role="button" class="btn btn-info" >Request a ride</a>
		<% } %>



<hr>


		<div id="googleMap" style="width:100%; height:420px"></div>

		<div id="carpool-direction-message">
			<button id="direction-button" data-role="button" data-theme="b">Show Directions</button>
		</div>
		<div id="carpool-directions">
			<table data-role="table" class="table" id="directions">
				<thead>
					<th class="text-left">Directions</th>
				</thead>
				<!--directions loaded here-->
			</table>
		</div>


<div id="carpool-riders">
	<button data-role="button" data-theme="b" id="rider-toggle-button">Show Riders</button>
	<div id="carpool-riders-list">
		<h2>Riders</h2>
		<% if(riders.length == 0 ) { %>
			<em>There are no riders to display</em>
		<% } else { %>
			<table data-role="table" class="ui-responsive table-stroke">
				<thead>
					<th></th>
					<th></th>
					<% if(access) { %>
						<th></th>
						<th></th>
					<% } %>
				</thead>
				<tbody>
					<% riders.forEach(function(rider) { %>
					<tr>

						<td><%= rider.player.full_name %></td>
						<% if(access) { %>
							<%if(!rider.confirmed) {%>
								<td><a href="/riders/confirm/<%=carpool._id%>/<%=rider.player._id%>" data-role="button" class="btn btn-tiny btn-success">Confirm</a></td>
							<%} else {%>
								<td>Confirmed</td>
							<% } %>
							<td><a href="/riders/remove/<%=carpool._id%>/<%=rider.player._id%>" data-role="button" data-theme="b">Remove</a></td>
						<% } %>

					</tr>
				<% }) %>
			</tbody>
		</table>
		<% } %>
	</div>
</div>
</div>

<!--***********************END OF CONTENT************************-->
<% include ../footer %>
</body>

</html>
